.footer-form {
@media screen and(max-width: 1199px) {
  margin-top: 60px;
  width: 100%;
  max-width: 768px;

}
@media screen and(min-width: 1200px){
  margin-left: auto;
}

}

.footer-form__items {
  justify-content: center;
    align-items: center;
    

  @media screen and(min-width: 1200px){
    display: flex;
    gap: 12px;
  }
  
}

.footer-form__title {
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.14;
}



.subscribe-form__input {
  width: 100%;
  
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
  padding-left: 16px;
  border-radius: 4px;
  background-color: #2f303a;

  outline: transparent;
  transition: border-color 250ms var(--cubic);
  color: #ffffff;
  

  &:focus {
    border-color: #2196f3;
    }

  &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
    
    }

    @media screen and(min-width: 480px){
      min-width: 358px;
    }
}


.subscribe-form__btn {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 10px 14px 10px 28px;

  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  background-color: #188ce8;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 200px;
  cursor: pointer;
  transition: box-shadow 250ms var(--cubic);

  &:hover,
  &:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}

  @media screen and(max-width: 1199px) {
   margin-top: 20px;
   display: block;
   margin-left: auto;
   margin-right: auto;
  }
}